.customdiv
{
margin:3px;
min-height:60px;
background-color:rgb(184, 184, 148);
text-align:center;
font-size:large;
}

.customdivblock
{
margin:3px;
min-height:300px;
 border: 1px solid black;
background-color:rgb(242, 242, 242);
text-align:center;
font-size:large;
}




.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:15%;    //Specify your width here
}

.btn-xl1 {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:18%;    //Specify your width here
}


.dropbtn {
    background-color:#3366cc;
    color: white;
    padding: 15px;
    width: 150px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
   max-height:200px;
}

.dropdown-content {
    display: none;
    border:1px;
    position: absolute;
    background-color:#7094db;
    min-width: 150px;
   
   z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
    max-height: 100px;
}

.dropdown-content a:hover {background-color: white;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:#3366cc ;
}






input[type=text] {
    width: 100px;
    padding: 8px 10px;   
    box-sizing: border-box;    
    border: none;
    margin-top:0px;
    margin-right: 10px;
    background-color: #d9d9d9;
    color: black;
}

input[type=password] {
    width: 300px;
    padding: 12px 20px;   
    box-sizing: border-box;    
    border: none;
    margin-top:0px;
    margin-right: 20px;
    background-color: #d9d9d9;
    color: black;
}
.btn{
 color: white;
 background-color:#3366cc ;
}
